/* =============
    Base
============= */

.Artemis{
    display: grid;
    grid-template-columns: 100%;

    @include lg{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 120px;
    }
}

.text1{
    font-size: 18px;
    margin-left: 112px;
}

.Pin{
    margin:auto;
    margin-left: 110px;

    @include md{
    margin:auto;
    margin-left: 148px;
    width:fit-content;
    }
}

.P{

    display:none;
    margin-right: 21px;

    @include lg{
        display:block;
    }
}


p{
    font-family: 'Righteous';
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}


.text2{
    p{
        margin-left: 110px;

     @include md{
        margin-right: 151px;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
    }
} 

}