/* =============
    Base
============= */

body{
    background-color: black;
}

.Cards{
    background-color: #04536C;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.C1-4{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
}