/* =============
    Base
============= */

body{
    background-color: black;
}

.Cards{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 10px;

    @include lg{
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

.C1{
    background-color: #04536C;
}

.C2{
    background-color: #04536C;
}

.C3{
    background-color: #04536C;
}

.C4{
    background-color: #04536C;
}

.Carosel{
    display:grid;
    grid-template-columns: auto;
    margin:auto;
}

.Planet{
    display: none;

    @include sm{
        display: none;
    }

    @include lg{
        display: inline-block;
    }
}
