/* =============
    Base
============= */

.Climate{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 40px;
    margin-top: 120px;

}

.events{
    margin-right: 102px;
}

.environment{
    display: none;



    @include lg{
        display:block;
    margin-left: 60px;
    width: 250px;
    }
}

.events{
    width: 400px;
}