/* =============
    Base
============= */

.Contact-Us{
    background-color: #04536C;
}

.inputs{
    background-color: 022229;
}

.Contact-Us{
    display: grid;
    grid-template-columns: 70% 30%;
}

.Right{
    display: grid;
    grid-template-columns: 50% 50%;
}

.buttons{
    display: grid;
    grid-template-columns: 50% 50%;
}