/* =============
    Base
============= */
.Weather{
    background-color: #333333;
}

.Tuesday{
    background-color: black;
}

.Wednesday{
    background-color: black;
}

.Thursday{
    background-color: black;
}

.DayBlocks{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}