/* =============
    Base
============= */

.Weather{
    background-color: #333333;
}

.DayBlocks{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.Tuesday{
    background-color: black;
}

.Wednesday{
    background-color: black;
}

.Thursday{
    background-color: black;
}



.Globe{
    display: grid;
    grid-template-columns: 70% 30%;
}

.Information{
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 20px;
}

.Wtext{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%;
}