/* =============
    Base
============= */

.Weather{
    background-color: #333333;
}

.DayBlocks{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.Tuesday{
    background-color: black;
}

.Wednesday{
    background-color: black;
}

.Thursday{
    background-color: black;
}



.Globe{
    display: grid;
    grid-template-columns: 70% 30%;
}