/* =============
    Base
============= */

.img{
    
    display:block;
    margin-left: 30px;

    @include lg{
    display: grid;
    grid-template-columns: 10% 22% 22% 22% 22%;
    column-gap: 15px;
    margin-top: 50px;
    }
}

.L{
    width:20px;
    margin:auto;
}

.button{
    margin: auto;
    width:200px;
}