/* =============
    Base
============= */

.img{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 15px;
}

.L{
    width:20px;
    margin:auto;
}

.button{
    margin: auto;
    width:200px;
}