/* =============
    Base
============= */

.vids{
display: grid;

@include sm{
    grid-template-rows: 33% 33% 33%;
    row-gap: 20px;
}

@include md{
    grid-template-columns: 20% 40% 40%;
    column-gap: 20px;
}

@include lg{
grid-template-columns: 10% 30% 30% 30%;
column-gap: 20px;
}
}

.L{
    @include sm{
        display: none;
    }

    @include md{
        display:block;
        width:20px;
        margin:auto;
    }
}
.studying{
    display:none;
    @include lg{
        display:block;
    }
}
.button2{
    display:block;
    width: 180px;
    margin: auto;
    margin-bottom: 100px;

    @include sm{
        width: 200px;
        margin-top: 20px;
        margin-bottom: 150px;
    }

    @include md{
    margin: auto;
    margin-bottom: 150px;
    margin-top: 50px;
    }
}

