/* =============
    Base
============= */

.img{
    
    display:block;
    margin-left: 30px;

    @include lg{
    display: grid;
    grid-template-columns: 10% 22% 22% 22% 22%;
    column-gap: 15px;
    margin-top: 50px;
    }
}

.L{
    display:block;
    width:20px;
    margin:auto;
}


.button1{
    display:block;
    width: 180px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;

    @include sm{
        width: 180px;
        margin-top: 30px;
        margin-bottom: 200px;
    }

    @include md{
    margin: auto;
    margin-bottom: 150px;
    margin-top: 50px;
    }
}