/* =============
    Base
============= */

.Recent{
    display:grid;
    grid-template-columns: 10% 45% 45%;
    column-gap: 60px;
}

.LC{
    width: 25px;
    margin-left: 60px;
    margin:auto;
}

.text{
    width: 570px;
    margin-right: 132px;
    margin-right: 57px;
    .body{
        p{
            font-size: 15px;
        }
    }
}

.rocket{
    width:500px;
    margin: auto;
}

