/* =============
    Base
============= */

.Slider{
    display:grid;
    grid-template-columns: 100%;
    margin-left: 125px;
    column-gap: 25px;

    @include md{
        grid-template-columns: 33% 33% 33%;
    }

    @include lg{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    }
}

.doublechev{
    width: 30px;
    margin: auto;
}