/* =============
    Base
============= */

.Video{
    width:1350px;
    margin:auto;
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}

img{
    width: 100%;
    display:block;
}