/* =============
    Base
============= */

.Video{
    @include sm{
    width: 336px;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    }

    @include md{
        width: 776px;
        margin:auto;
    }

    @include lg{
    width:1350px;
    margin:auto;
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    }
}

img{
    width: 100%;
    display:block;
}