/* =============
    Base
============= */

.GEO{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 300px;
    margin-left: 1000px;
    column-gap: 20px;
}

.WhiteGeo{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100px;
    width:100px;
}

.YellowGeo{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100px;
    width:100px;
}