/* =============
    Base
============= */

.GEO{
    display: grid;
    grid-template-rows: 50% 50%;
    width: 70px;
}

.C-F{
    display:grid;
    grid-template-rows: 50% 50%;
    width: 70px;
}

.table{
    display:grid;
    grid-template-columns: 50% 50%;
    margin-left: 900px;
    column-gap: 20px;
}