/* =============
    Footer
============= */

footer{
    background-color: #003355;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.Socials-Group{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}
.Instagram{
    width: 50px;
    margin-top: 50px;
    margin-left: 150px;
}

.Linked{
    width: 50px;
    margin-top: 50px;
    margin-left: 75px;
}

.Facebook{
    width: 50px;
    margin-top: 50px;
    margin-right: 100px;
}
.links{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 45px;
}

.LF{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 33% 33% 33%;
}

.logo{
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;
}
