/* =============
    Footer
============= */

footer{
    background-color: #003355;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.socials{
    ul{
        list-style-type: none;
        padding:0;
    }
}

.links{
    ul{
        list-style-type: none;
        padding:0;
    }
}

.LF{
    grid-template-columns: 50% 50%;
}

