/* =============
    Footer
============= */

footer{
    background-color: #003355;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.body{
    font-family: 'ariel';
    font-style: normal;
    font-weight: 400;
    font-size: 14px; 
}

